body {
  /* font-family: "Indie Flower", cursive; */
  /* font-family: 'Mynerve', cursive; */
  font-family: 'Cutive Mono', monospace;
  color: #000;
}
h1 {
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

.container {

width: 700px;

  margin: 40px auto;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}

a {
  color: #009999;
  text-decoration: none;
  font-weight: bold;
}
li {
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  margin-bottom: 5px;
}

#time {
  font-size: 18px;
}

.weather_application {
  border: 1px solid #000;
  padding: 15px;

  border-radius: 10px;
  max-width: 600px;
}
.input-search {
  display: block;
  width: 100%;
  /* font-family: "Indie Flower", cursive; */
  /* font-family: 'Mynerve', cursive; */
  font-family: 'Cutive Mono', monospace;
  height: 38px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.075) !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  background-color:  #009999;
  ;
  border-color: #009999;
  ;
  text-align: center;
  padding: 5px 20px;
  font-size: 16px;
  line-height: 1.5;
  /* font-family: "Indie Flower", cursive; */
  /* font-family: 'Mynerve', cursive; */
  font-family: 'Cutive Mono', monospace;
  border-radius: 4px;
}

.current-city-btn {
  background-color: #e1b72e;
  border-color: #e1b72e;
}

#current-city {
  margin-bottom: 15px;
  font-size: 36px;
}
.search-block {
  display: flex;
  gap: 20px;
}

.actions {
  display: flex;
  gap: 20px;
}

.search {
  margin-bottom: 20px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-image {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.current-temperature_container {
  display: flex;
}

img {
  vertical-align: middle;
  border-style: none;
}

.units {
  position: relative;
  top: -30px;
}

.current-weather {
  display: flex;
  gap: 20px;
  align-items: center;
}

.current-weather_details {
  display: flex;
  justify-content: flex-start;
}

.source {
margin-top: 10px;
font-size: 12px;
}
